@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

:root {
  --bg-color: rgb(17, 51, 122);
  --main-color: rgb(243, 141, 79);
  --soft-white: #f5f8ff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

ul {
  padding: 0;
}

nav {
  background-color: var(--bg-color);
}

h3{
  margin-top: 50px;
  font-size: 18px;
}

.nav-container {
  max-width: 1200px;
  width: 90%;
  height: 90px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  background-color: var(--bg-color);
  height: 60px;
  bottom: 0px;
  width: 100%;
  position: relative;
  float: left;
}

footer a {
  color: #fff;
}

.footer-container {
  max-width: 1200px;
  width: 80%;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: flex-end;
  margin: auto;
}

footer ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

footer ul li {
  margin: 0 15px;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav .logo img {
  height: 80px;
}

nav .logo a {
  text-decoration: none;
  color: var(--main-color);
}
nav ul li {
  margin: 0px 10px;
  text-align: center;
}

nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 14px;
}

nav ul li a.active {
  color: var(--main-color);
}

nav ul li a:hover {
  color: var(--main-color);
}

nav .logo {
  font-size: 1.4rem;
  color: var(--main-color);
}

main {
  float: left;
  display: block;
  width: 100%;
  position: relative;
}

.hero {
  position: relative;
  display: flex;
  min-height: 600px;
  background: black;
  /* height: calc(100vh - 90px); */
}



.hero img {
}

.header {
  width: 100%;
  /* background-color: var(--bg-color); */
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 25px;
  padding-bottom: 25px;
  color: rgb(0, 0, 0);
  text-align: center;
}

.header h1 {
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
  color: var(--main-color);
  /* text-decoration: underline; */
  max-width: 1200px;
  width: 90%;
  margin: 50px auto;
  text-shadow: 1px 1px 2px #162246;
}


.content-container.video {
  position: relative;
  /* padding-top: 30px; */
  /* overflow: hidden; */
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
}

.hero-video-overlay {
  background-color: var(--soft-white);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: table;
  text-align: center;

}

.container-fluid {
  max-width: 90%;
  width: 1200px;
  margin: auto;
  height: 500px;
  display: table-cell;
  vertical-align: middle;
}

.main-logo {
}

.main-logo img.small {
  width: 150px;
}

.hero-message {
}

h1.main-title {
  font-size: 3.5em;
  margin: 0;
  color: var(--main-color);
  font-weight: lighter;
}

h3.sub-title {
  margin: 20px auto;
  color: var(--bg-color);

}

.more-info {
  float: left;
  width: 100%;

}

.more-info.main text {
  border-radius: 20px;
  background-color: var(--bg-color);
  color: white;
  padding: 10px 20px;
  width: 200px;
}

.more-info.main text:hover {
  cursor: pointer;
  background-color: var(--main-color);
}

.content-container.video iframe, .content-container.video object, .content-container.video embed{
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 90px);
  max-height: 700px;
}


.content-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;

}

.content-container a {
  word-break: break-all;
}

.content-container h1 {
  font-size: 30px;
  margin-bottom: 50px;
}


.content-container p {
  margin-top: 30px;
  font-size: 18px;
  /* letter-spacing: 1.1px; */
  line-height: 1.4;
}

.content-container li {
  line-height: 1.4;
  padding-left: 7.5px;
}

.content-container li span {
  text-decoration: underline;
  font-weight: 700;
}

.content-container ol li p {
  margin-top: 5px;
}

.content-container ul {
  list-style-type: none;
  padding-left: 20px;
}

.content-container ul li {
  margin-bottom: 15px;
}

.row {
  width: 100%;
  /* background-color: var(--bg-color); */
  float: left;
  padding: 50px 0;
}

.row-container {
  max-width: 1200px;
  margin: 20px auto;
  width: 90%;

}

.row .item {
  width: calc(100%/2 - 40px);
  float: left;
  margin: 20px;
  height: 250px;
}

.row .item .img {
  width: 40%;
  float: left;
  height: inherit;
}

.item .img {
  width: 50%;
}

 .item .img img {
  height: 100%;
}

.item .text {
  width: 50%;
  float: right;
  background-color: var(--soft-white);
  padding: 20px;
  border-radius: 0 20px 20px 0;
  height: inherit;
  overflow: hidden;
}


.row .item .text  p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.row .item .text  a {
  border: 1px solid var(--bg-color);
  color: var(--bg-color);
  padding: 5px 10px;
  border-radius: 20px;
}

.row .item .text  a:hover {
  cursor: pointer;
  color: white;
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.content-container p.large-spacing {
  margin: 100px auto;
  text-align: center;
}

.side-by-side-item {

  display: grid;
  margin: 50px auto;
  grid-template-columns: 0.5fr 0.5fr;
}


.side-by-side-item  .text {
  background-color: var(--soft-white);
  padding: 20px;
  border-radius: 20px;
}

.side-by-side-item  .text h4 {
  color: var(--main-color);
}

.side-by-side-item  .img img {
  width: 100%;
  height: auto;
}
ol li {
  margin-top: 7.5px;
}

.italic {
  font-style: italic;
}

.underline{
  text-decoration: underline;
  font-weight: 600;
}

@media (max-width: 1150px) {
  .nav-container {
    flex-direction: column;
    text-align: center;
    height: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
  }


  nav .logo {
  text-align: center;
  }

  nav ul {
  flex-direction: column;
  margin-top: 50px;
  }

  nav ul li {
  margin: 15px 0;
  }

  .hero img {
  max-width: 80%;
  }


  .header h1 {
    font-size: 25px;
  }


  .content-container h1 {
    font-size: 25px;
    margin-bottom: 25px;
  }

  .row .item {
    width: 100%;
    height: auto;
    margin: 20px auto;
  }

  .row .item .img {
    width: 100%;
    max-height: 200px;
    overflow: hidden;
  }

  .item .img img {
    height: auto;
    width: 100%;
  }

  .item .text {
    width: 100%;
    border-radius: 0 0 20px 20px;
  }

  .side-by-side-item {
    width: 100%;
    grid-template-columns: unset;
  }
}

@media (min-width: 1151px) {
  .side-by-side-item .text {
    position: relative;
    right: 30px;
    top: 30px;
  }
}
